# =========================
# Unreal Engine
# =========================
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# =========================
# IDE / Rider
# =========================
.idea/
*.DotSettings.user
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
*.tmp

# IDE generated project files
*.sln
*.xcworkspace/